{{define "header"}}
<header>
    <nav class="nav">
        <a href="#" class="nav_logo">CALCULATOR</a>
        <ul class="nav_items">
            <li class="nav_item">
                <a href="../home-page/index.html" class="nav_link">Home</a>
                <a href="../home-page/index.html" class="nav_link">Expressions</a>
                <a href="../home-page/index.html" class="nav_link">Settings</a>
                <a href="../home-page/index.html" class="nav_link">Times</a>
                <a href="../home-page/index.html" class="nav_link">Monitor</a>
            </li>
        </ul>
        <div class="nav_item">
            <div class="buttons">
                <button class="profile-username-btn">John Doe</div>
                <button class="logout-btn" style="display: none;">Log out</button>
            </div>
        </div>
    </nav>
</header>
{{end}}
