{{template "base" .}}
 
{{define "title"}}Authorization page{{end}}
 
{{define "main"}}
<h2>Авторизация</h2>
<p>Заполните все поля</p>
<form id="authForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" required><br><br>
    
    <button type="submit" id="login" onclick="submitForm(event)">Log In</button>
    <button type="submit" id="register" onclick="submitForm(event)">Register</button>
</form>
{{end}}

{{define "custom"}}
function submitForm(event) {
    event.preventDefault();
    
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    
    if (!username || !password) {
        alert('Please fill in all fields');
        return;
    }
    
    const form = document.getElementById('authForm');
    fetch('http://your-server-url', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if(response.ok) {
            console.log('Request successful');
            alert('Успешно зарегстрировались и зашли в аккаунт =D');
            sessionStorage.setItem("loggedInUser", username)
        } else {
            console.error('Request failed');
            alert('Ошибка');
        }
    })
    .catch(error => console.error('Error:', error));
    location.reload();
}
{{end}}