{{template "base" .}}
 
{{define "title"}}Authorization page{{end}}
 
{{define "main"}}
<h2>Авторизация</h2>
<p>Заполните все поля</p>
<form id="authForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter password" required><br><br>
    
    <button type="submit" id="login" onclick="submitLogForm(event)">Log In</button>
    <button type="submit" id="register" onclick="submitRegForm(event)">Register</button>
</form>
{{end}}

{{define "custom"}}
function submitRegForm(event) {
    event.preventDefault();

    console.log('sending register request...');
    
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    
    if (!username || !password) {
        alert('Please fill in all fields');
        return;
    }
    
    const form = document.getElementById('authForm');
    const formData = new URLSearchParams();
    formData.append('username', username);
    formData.append('password', password);

    fetch('/calculator/internal/register', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if(response.ok) {
            fetch('/calculator/internal/signin', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if(response.ok) {
                    console.log('Request successful');
                    alert('Успешно зарегстрировались и зашли в аккаунт =D');
                    sessionStorage.setItem("loggedInUser", username)
                } else {
                    console.error('Request failed');
                    alert('Ошибка');
                }
            })
            .catch(error => console.error('Error:', error));
        } else {
            if(response.status === 409) {
                alert('Пользователь с таким именем уже существует')
            } else {
                alert('Ошибка, code', response.status)
            }
        }
    })
    .catch(error => console.error('Error:', error));
}

function submitLogForm(event) {
    event.preventDefault();

    console.log('sending sign in request...');
    
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;
    
    if (!username || !password) {
        alert('Please fill in all fields');
        return;
    }
    
    const form = document.getElementById('authForm');
    const formData = new URLSearchParams();
    formData.append('username', username);
    formData.append('password', password);

    fetch('/calculator/internal/signin', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if(response.ok) {
            console.log('Request successful');
            alert('Успешно вошли в аккаунт =D');
            sessionStorage.setItem("loggedInUser", username)
        } else {
            console.error('Request failed');
            alert('Ошибка');
        }
    })
    .catch(error => console.error('Error:', error));
}
{{end}}