{{template "base" .}}
 
{{define "title"}}Expressions page{{end}}
 
{{define "main"}}
<h2>Выражения</h2>
<form id="sendExpForm">
    <label for="expression">Expression:</label>
    <input type="text" id="expression" name="expression" placeholder="Введите выражение" required><br><br>
    <button type="submit" id="sendExp-btn" onclick="submitSendForm(event)">Посчитать</button>
</form>
<form id="checkExpForm">
    <label for="keyForm">Key:</label>
    <input type="text" id="keyForm" name="keyForm" placeholder="Введите ключ (uuid)" required><br><br>
    <button type="submit" id="checkExp-btn" onclick="submitCheckForm(event)">Найти</button>
</form>
<div id="resultBlock"></div>
<div id="errBlock">{{ .Message }}</div>
<table id="data-table">
    <tr>
        <th>Ключ uuid</th>
        <th>Выражение</th>
        <th>Результат</th>
        <th>Агент</th>
        <th>Пользователь</th>
    </tr>
    {{ range .Items }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Exp }}</td>
        <td>{{ .Result }}</td>
        <td>{{ .Agent }}</td>
        <td>{{ .Username }}</td>
    </tr>
    {{ end }}
</table>
{{end}}

{{define "custom"}}
function submitCheckForm(event) {
    event.preventDefault();

    console.log('sending check request...');

    const key = document.getElementById('keyForm').value;
    if (!key) {
        alert('Заполните поле с ключем');
        return;
    }
    
    const url = `/calculator/internal/checkexpression?id=${key}`;

    fetch(url)
    .then(response => response.text())
    .then(data => {
        document.getElementById('resultBlock').innerText = data;
    })
    .catch(error => console.error('Error:', error));
}

function submitSendForm(event) {
    event.preventDefault();

    console.log('sending calc request...');

    const exp = document.getElementById('expression').value;
    if (!exp) {
        alert('Заполните поле с выражением');
        return;
    }
    const formData = new URLSearchParams();
    formData.append('expression', exp);
    console.log('exp', exp, 'data', formData)

    fetch('/calculator/internal/sendexpression', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if(response.ok) {
            console.log('Request successful');
            alert('Выражение отправлено');
        } else {
            console.error('Request failed');
            alert('Ошибка, code', response.status)
        }
    })
    .then(data => {
        alert(data);
    })
    .catch(error => console.error('Error:', error));
}
{{end}}
