{{template "base" .}}
 
{{define "title"}}Values page{{end}}
 
{{define "main"}}
<h2>Параметры</h2>
<form id="sendValsForm">
    <label for="summation">Сложение:</label>
    <input type="text" id="summation" name="summation" placeholder={{ .SumDefault }} value={{ .SumDefault }}><br><br>

    <label for="substraction">Вычитание:</label>
    <input type="text" id="substraction" name="substraction" placeholder={{ .SubDefault }} value={{ .SubDefault }}><br><br>

    <label for="summamultiplicationtion">Умножение:</label>
    <input type="text" id="multiplication" name="multiplication" placeholder={{ .MulDefault }} value={{ .MulDefault }}><br><br>

    <label for="division">Деление:</label>
    <input type="text" id="division" name="division" placeholder={{ .DivDefault }} value={{ .DivDefault }}><br><br>

    <label for="timeoutAgent">Таймаут:</label>
    <input type="text" id="timeoutAgent" name="timeoutAgent" placeholder={{ .TimeoutDefault }} value={{ .TimeoutDefault }} {{ .AgentPerms }}><br><br>

    <button type="submit" id="sendVals-btn" onclick="submitValsForm(event)">Сохранить</button>
</form>
{{end}}

{{define "custom"}}
function submitValsForm(event) {
    event.preventDefault();

    console.log('sending vals request...');

    const formData = new URLSearchParams();

    const sum = document.getElementById('summation').value;
    formData.append('sum', sum);
    const sub = document.getElementById('substraction').value;
    formData.append('sub', sub);
    const mult = document.getElementById('multiplication').value;
    formData.append('mult', mult);
    const div = document.getElementById('division').value;
    formData.append('div', div);
    const tm = document.getElementById('timeoutAgent').value;
    formData.append('timeout', tm);


    console.log(formData)

    fetch('/calculator/internal/values', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if(response.ok) {
            console.log('Request successful');
            alert('Выражение отправлено');
        } else if (response.status === 401) {
            alert('Время действия токена авторизации истекло. Войдите в аккаунт заново.');
        } else {
            console.error('Request failed');
            alert('Ошибка, code', response.status);
        }
    })
    .catch(error => console.error('Error:', error));
}
{{end}}
